body {
  background-image: url("/images/purple galaxy.jpg");
  background-size: cover;
  background-position:center ;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;

}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}
footer {
  background-color: #779;
  padding: 80px;
  height: 20px;
  text-align: center;
  color: white;
}

.TitlePt1
{
margin-right: 1200px;
}

.TitlePt2
{
margin-right: 1100px;
}

.TitlePt3
{
margin-left: 1000px;
margin-top: -180px;
}




.sectionone {
  flex: 70%;
  padding: 80px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50PX;
  height: 4000px;
}
.titleimage {
  background-image: url("/images/jokerme.png");
  color: #aaa;
  height:320px;
  width:500px;
  padding: 5px;
  display: grid;
  place-items: center;
  margin:0 auto;
  margin-top: -180px;

}